.about {
  width: 100%;
  height: auto;

  padding: 60px 15%;
}

.about h1 {
  font-size: x-large;
  font-weight: 600;
  text-align: center;

  width: 100%;
}

.about__contents {
  display: flex;
  margin-top: 60px;
}

@media only screen and (max-width: 768px) {
  .about__contents {
    display: inline;
  }
}

.services ul {
  padding: 20px;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .services ul {
    padding: 0px;
    display: block;
    text-align: center;
  }

  .services img {
    margin: auto;
    margin-top: 20px;
  }
}

.desc {
  padding: 20px;
}

.services h2 {
  font-size: large;
  font-weight: 500;
}

.services h3 {
  opacity: 0.7;
}

.trusted_caretakers {
  height: 100%;

  margin-top: 100px;

  border: 1.5px solid rgba(255, 94, 0, 0.5);
  border-radius: 10px;
}

.trusted_caretakers__title {
  display: flex;

  font-size: large;
  justify-content: center;

  padding: 20px 40px;

  background-color: rgba(255, 94, 0, 0.15);
  border-radius: 10px 0px 0px 0px;
}

.trusted_caretakers__title h2 {
  padding: 20px;
  font-weight: 500;
}

.trusted_caretakers ul {
  display: flex;
  padding: 8px 50px;
}

.trusted_caretakers ul img {
  object-fit: contain;
  width: 30px;
}

.trusted_caretakers h3 {
  padding: 10px 20px;
}

@media only screen and (max-width: 768px) {
  .trusted_caretakers__title {
    display: flex;

    font-size: large;
    justify-content: center;

    padding: 15px 10px;

    background-color: rgba(255, 94, 0, 0.15);
    border-radius: 10px 0px 0px 0px;
  }

  .trusted_caretakers__title img {
    width: 40px;
    margin-left: 0.4rem;
  }

  .trusted_caretakers__title h2 {
    padding: 0px;
    padding-left: 15px;
    font-weight: 500;
    font-size: 1rem;
  }

  .trusted_caretakers ul img {
    width: 25px;
    height: auto;
    padding-left: 2px;
  }

  .trusted_caretakers ul {
    display: flex;
    padding: 8px 15px;
  }
}
