@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");

.banner {
  width: 100%;
  height: 100vh;

  color: white;
  background-color: black;
}

.changing-text {
  font-family: "Caveat", cursive;
  font-size: 3rem;
  font-style: regular;
  width: 50%;
}

.changing-text::before {
  content: "";
  animation: change-text 8s ease-in-out 1s infinite;
}

@keyframes change-text {
  0% {
    content: "pets";
  }

  33% {
    content: "dogs";
  }

  66% {
    content: "cats";
  }

  100% {
    content: "pets";
  }
}

.banner button:focus {
  outline: none;
}

@media only screen and (max-width: 768px) {
  .banner {
    height: 100vh;
  }

  .changing-text {
    font-family: "Caveat", cursive;
    font-size: 2rem;
    font-style: regular;
    width: 50%;
  }
}
