@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-orange-300 text-orange-900 font-bold text-xs rounded w-20 h-20;
  }
  .btn:hover {
    @apply bg-orange-400;
  }
  .btn:focus {
    @apply bg-orange-400;
  }

  .petBtn {
    @apply m-2 w-1/4 px-6 py-2 border border-black rounded transition-all duration-300 opacity-25;
  }

  .petBtn:hover {
    @apply opacity-100;
    border-width: 1.5px;
    transform: scale(1.05);
    filter: invert(61%) sepia(74%) saturate(3155%) hue-rotate(0deg)
      brightness(103%) contrast(106%);
  }

  .petBtn:focus {
    outline: none;
    @apply opacity-100;
    border-width: 1.5px;
    transform: scale(1.05);
    filter: invert(61%) sepia(74%) saturate(3155%) hue-rotate(0deg)
      brightness(103%) contrast(106%);
  }

  .petBtn-sm {
    @apply m-2 w-1/5 px-6 py-2 border border-black rounded transition-all duration-300 opacity-25;
  }

  .petBtn-sm:hover {
    @apply opacity-100;
    border-width: 1.5px;
    transform: scale(1.05);
    filter: invert(61%) sepia(74%) saturate(3155%) hue-rotate(0deg)
      brightness(103%) contrast(106%);
  }

  .petBtn-sm:focus {
    outline: none;
    @apply opacity-100;
    border-width: 1.5px;
    transform: scale(1.05);
    filter: invert(61%) sepia(74%) saturate(3155%) hue-rotate(0deg)
      brightness(103%) contrast(106%);
  }

  .petBtn-lg {
    @apply m-2 w-1/3 px-6 py-2 border border-black rounded transition-all duration-300 opacity-25;
  }

  .petBtn-lg:hover {
    @apply opacity-100;
    border-width: 1.5px;
    transform: scale(1.05);
    filter: invert(61%) sepia(74%) saturate(3155%) hue-rotate(0deg)
      brightness(103%) contrast(106%);
  }

  .petBtn-lg:focus {
    outline: none;
    @apply opacity-100;
    border-width: 1.5px;
    transform: scale(1.05);
    filter: invert(61%) sepia(74%) saturate(3155%) hue-rotate(0deg)
      brightness(103%) contrast(106%);
  }

  @screen md {
    .petBtn {
      @apply px-8 py-4;
    }

    .petBtn-sm {
      @apply px-8 py-4;
    }

    .petBtn-lg {
      @apply px-8 py-4;
    }
  }
}
